@media (min-width: 400px) {
  .people-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  table tr th code, table tr td code, code {
    color: #333;
  }

  table tr th a > code, table tr td a > code, code {
    color: #1a64db;
  }

  .unininja-logo {
    width: 100%;
    max-width: 600px;
  }

  .col-3 {
    justify-content: center;
    flex-basis: 100%;
    flex-direction: column;
    padding: 20px;
    height: 550px;
    text-align: center;
  }

  .col-3 > h2 {
    margin-top: 0px;
    text-align: center!important;
  }

  .team-member-headshot {
    width: 60%;
    margin: 0 auto;
    min-width: 100px;
    max-width: 200px;
    border-radius: 50%;
  }
}

@media (min-width: 768px) {
  .col-3 {
    flex-basis: calc(25% - 14px);
  }
}

@media (min-width: 992px) {
  .col-3 {
    flex-basis: calc(25% - 14px);
  }
}

@media (min-width: 1200px) {
  .col-5 {
    flex-basis: calc(20% - 14px);
  }
}
